<!--
<nav class="navbar navbar-dark bg-dark" >
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/login">Log in</a></li>
        <li><a href="/products">Productos</a></li>
    </ul>
</nav>
-->

<link rel="stylesheet" href="css/main.css">
<div class="nada">
  <nav class="navbar fixed-top navbar-expand-md navbar-light bg-light"> 
    <div class="right-side">
        <a class="navbar-brand" href="/">Jagger</a>
    </div>
    <div class="imagen">
      <div class="logo_area" style="width: 200px">
        <a class="logo" href="/">
          <img id="logojagger" src="images/jaggerfood.png" alt="Jagger" width="150px">
        </a>
      </div>
    </div>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Hamburguesas</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">Lomitos</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#">Milanesas</a>
        </li>
        <li>
          <li class="nav-item dropdown">
            <a class="nav-link" href="#">Otros</a>
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" tabindex="-1" aria-disabled="false">Login</a>
        </li>
      </ul>
      </div>
    
      <!--<form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>-->
  </nav>
</div><br>
  