<%-include('partials/header')%>


<table class="table table-condensed table-hover">
    <thead>
        <tr class="cuadro">
            <th>Nombre</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr class="cuadro-1">
            <td><%for(var i = 0; i < items.length; i++) {
                %> <p>
                <%= items[i].name %>
                </p>
                <% } %>
            </td>
            <td><%for(var i = 0; i < items.length; i++) {
                %> <p>
                <%= items[i].mail %>
                </p>
                <% } %>
            </td>
        </tr>
    </tbody>
</table>

</body>
<%-include('partials/footer')%>
</html>