body {
    background-image: url(/images/background.jpg);
    
}

.d-block {
    border-radius: 10px;
    max-height: 100%;
}

.cuadro {
    text-decoration-style: solid;
    color: rgb(180, 84, 49);
}

.cuadro-1 {
    color: rgb(155, 150, 148);
    text-shadow: rgb(170, 84, 52) 0.5px 0.5px 2px;
}

.img {
    display: block;
    width: 100%;
    height: auto;
  }

  .navbar {
      box-shadow: 0px 3px 10px #5a5858;
      opacity: 0.92;
      font-family: "Fira Sans",  sans-serif;
  }

  .logo {
      position: absolute;
      bottom: -50px;
      right: 10%;
      left: 10%;

  }

  #logojagger {
    display: block;
    bottom: -22px;
  }

  @media (max-width: 600px) {
    #logojagger {
        position: absolute;
        max-width: 100px;
        height: auto;
        bottom: 10px;
    }
    .logo {
        position: absolute;
        right: 40%;
        left: 40%;
        height: auto;
        width: auto;
    }
    .img {
        display: block;
        width: 80%;
        height: auto;
      }
    .redes-sociales {
        display: block;
        width: auto;
        height: auto;
    }
    .fab {
        box-sizing: auto;
        height: 100%;
    }

    .fas {
        box-sizing: auto;
        height: 100%;
    }
  }



    @media only screen and (max-width: 480px) {
        .navbar {
            display: inline;
        }
        .redes-sociales {
            display: none !important;
         }
         #logojagger {
             max-width: 60px;
             
         }
         .logo {
             position: absolute;
             margin-right: 5px;
             margin-left: 40%;
             margin-bottom: 10%;
         }
       }

    .logo {
        position: absolute;
        right: 45%;
        left: 45%;
        height: auto;
        width: auto;
    }
    .img {
        display: block;
        width: 60%;
        height: auto;
      }


  .titulos {
      position: absolute;
      right: auto;
      left: 10px;
      top: 7%;
  }

  .fab {
      display: inline;
      margin: 10px 8px 10px 8px;
      color: rgb(48, 46, 46);
      opacity: 0.8;
  }

  .fas {
    display: inline;
    margin: 10px 8px 10px 8px;
    color: rgb(48, 46, 46);
    opacity: 0.8;
}

  .fab:hover {
      opacity: 1;
  }

  .redes-sociales {
        margin-right: 20px;
  }

  .carousel-inner {
      max-height: 550px;
  }

  .enlaces {
      text-align: left;
      position: relative;
  }



  .carousel-item {
      position: relative;
      margin-top: 5%;
      
  }



